jupyterlab
wandb
scikit-learn
matplotlib
overrides
contexttimer
pandas
click
graphviz
overrides
mypy
transformers==4.19.0
numpy==1.20.3
tensorflow==2.5.2
spacy
datasets
rouge-score
absl-py
line_profiler
h5py
ipywidgets
hydra-core
pytorch-lightning
sacrebleu
sentence-transformers
pytest
texar
fairseq
texar-pytorch